[submodule "implementations/nfq"]
	path = implementations/nfq
	url = https://github.com/seungjaeryanlee/implementations-nfq
[submodule "implementations/dqn"]
	path = implementations/dqn
	url = https://github.com/seungjaeryanlee/implementations-dqn
[submodule "implementations/template"]
	path = implementations/template
	url = https://github.com/seungjaeryanlee/implementations-template.git
