[submodule "template"]
	path = template
	url = https://github.com/seungjaeryanlee/implementations-template.git
[submodule "dqn"]
	path = dqn
	url = https://github.com/seungjaeryanlee/implementations-dqn.git
[submodule "nfq"]
	path = nfq
	url = https://github.com/seungjaeryanlee/implementations-nfq.git
